helpMsg = "This is a simple echo-bot, it sends back your messages. To choose number of message repeats send /repeat command."
repeatMsg = "Please, choose number* of times to repeat your messages: \n*current number is "
defaultRepeat = 1
debugLogging = false
telegramToken = "000000000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
slackChannel = "000000000"
slackToken = "xoxb-000000000000-000000000000-AAAAAAAAAAAAAAAAAAAAAAAA"